{% extends 'public/header.html' %}
{% load static %}

{% block content %}
<header data-am-widget="header" class="am-header am-header-default sq-head ">
			<div class="am-header-left am-header-nav">
				<a href="javascript:history.back()" class="">
					<i class="am-icon-chevron-left"></i>
				</a>
			</div>
			<h1 class="am-header-title">
  	            <a href="{% url 'user:login' %}" class="">登录</a>
            </h1>
	    </header>
	    <div style="height: 49px;"></div>
	    <!--<div class="login-logo">
	    	<img src="images/logo.png" />
	    </div>-->
	    <div style="height: 3rem;"></div>
    <form action="{% url 'user:login' %}" method="post" novalidate>
    {% csrf_token %}
        {{ form.phone }}
        <p class="">{{ form.errors.phone.0 }}</p>

        {{ form.password }}
        <p>{{ form.errors.password.0 }}</p>
{#        <input type="text" name="phone" id="phone" placeholder="请输入用户名/手机号" class="login-name">#}
{#	    <input type="password" name="password" id="password" placeholder="请输入密码" class="login-password">#}
	    <input type="submit" class="login-btn" value="我要登录">
    </form>
{#	    <input type="text" name="phone" id="phone" placeholder="请输入用户名/手机号" class="login-name">#}
{#	    <input type="password" name="password" id="password" placeholder="请输入密码" class="login-password">#}
{#	    <input type="button" class="login-btn" value="我要登录">#}
{#    {% if is_login %}#}
{#        <p><a href="{% url 'user:index' %}">我要登录</a></p>#}
{#    {% elif %}#}
{#        <p><a href="{% url 'user:login' %}">我要登录</a></p>#}
{#    {% endif %}#}
	    <div class="agree">
	    	<a href="{% url 'user:register' %}">免费注册</a>
	    	<a href="forgetpassword.html" class="forget">忘记密码？</a>
	    </div>
	    <div class="line"></div>
	    <div class="line-text">第三方账号登录</div>
	    <ul class="second-login">
	    	<li><a href=""><img src="{% static 'images/wxlogin.png' %}"/></a></li>
	    	<li><a href=""><img src="{% static 'images/qqlogin.png' %}"/></a></li>
	    	<li><a href=""><img src="{% static 'images/sinalog.png' %}"/></a></li>
	    </ul>
{% endblock %}